# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# React
node_modules/
frontend/dist/

# Runtime files
screenshots/
*.db
*.sqlite3
*.db-journal

# Environment files
.env

#weights file
app/yolo/yolov3.weights